@import '~spectre.css/dist/spectre.css';
@import '~spectre.css/dist/spectre-icons.css';
@import '~spectre.css/dist/spectre-exp.css';

.outer-container {
  overflow-x: scroll;
}

.container {
  margin-bottom: 2rem;
  min-width: 1000px;
}

.panel {
  transition: opacity 0.5s ease;
}

.panel.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.panel.disabled * {
  pointer-events: none;
}

.panel .panel-body {
  overflow-y: visible;
}

.form-group {
  align-items: center;
}

.slider.tooltip:not([data-tooltip])::after {
  content: attr(data-formatted-value);
  width: 60px;
  text-align: center;
}

.slider.tooltip:not([data-tooltip])[disabled]::after {
  display: none;
}

.btn:disabled {
  pointer-events: auto;
  cursor: not-allowed;
  opacity: 1;
  border-color: #e7e9ed;
  color: #e7e9ed;
}

.btn:disabled:hover {
  background: transparent;
}

.form-label.disabled {
  color: #e7e9ed;
}

.comparison-slider .comparison-after::after {
  color: transparent;
}

.comparison-slider:hover .comparison-after::after {
  color: #fff;
}

.col-ml-auto {
  width: calc(50% - 1rem);
}

label {
  cursor: pointer;
}

.disabled .slider::-webkit-slider-thumb, .disabled .form-switch input:checked + .form-icon {
  background: #e7e9ed;
  border-color: #e7e9ed;
}

.modal-body h5 {
  margin: 2rem 0 1rem;
}

.modal.modal-lg .modal-overlay {
  background: rgba(248, 249, 250, .75);
}

.modal.modal-lg .modal-container {
  box-shadow: 0px 2px 11px -5px;
}

.modal-overlay, .btn-clear {
  font-size: 0;
}

.btn.btn-clear::before {
  font-size: 16px;
}

body.modal-open {
  overflow-y: hidden;
}